{% load static %}
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <img src="{% static 'logo.png' %}" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="phone-no">
                        ଆମ ନେତା, ଆମେ ଏହାକୁ ଏଥିପାଇଁ ଆଣିଛୁ ଯେ କେହିବି ଜଣେ ଭୋଟର ବା ଜନତା ନେତାଙ୍କ ପାଖରେ ଅପହଞ୍ଚ ହୁଅନ୍ତୁ ନାହିଁ |
                        ଏହାର ପଛରେ ଆମର କିଛିବି
                        ମନ୍ଦ ଉଦେଶ୍ୟ ନାହିଁ କି କାହାର ଭାବମୂର୍ତ୍ତିକୁ କ୍ଷୁର୍ଣ୍ଣ କରିବା ଆମ ଉଦ୍ଦେଶ୍ୟ ନୁହେଁ | ଆମର ଏକମାତ୍ର ଲକ୍ଷ୍ୟ,
                        ନେତା ଏବଂ ଜନତା ଭିତରେ
                        ସୁସମ୍ପର୍କ ସ୍ଥାପନ | ଆମେ କେବଳ ଯୋଗସୂତ୍ର ମାତ୍ର। ଜନତାଙ୍କୁ ଅନୁରୋଧ, ଏଠାରେ ସେମାନେ ସେମାନଙ୍କ ଅଭିଯୋଗ
                        ଶାଳୀନତାର ସହ ରଖିବେ। ଆମେ ଆପଣଙ୍କ
                        ପାଇଁ କେମିତି ଆପଣ ନିଜ ମତ ନିଜ ନେତା ପାଖରେ ରଖିପାରିବେ, ଏହି ୱେସାଇଟରେ ସେହି ବନ୍ଦୋବସ୍ତ କରିଛୁ | ଆପଣଙ୍କ
                        ଅଞ୍ଚଳର ଯାହାବି ସୁବିଧା ବା
                        ଅସୁବିଧା, ସମସ୍ତ କଥା ନେତାଙ୍କ ସହ ଫୋଟୋ ବା ଲେଖା ମାଧ୍ୟମରେ ରଖିପାରିବେ । ଆମେ ଆଉଥରେ କହିରଖୁଛୁ ଯେ, ଏହି
                        ୱେବସାଇଟ୍ ଆପଣଙ୍କ ପାଇଁ ଏବଂ ଆପଣ
                        ଏହା ପ୍ରତି ଯତ୍ନବାନ ହୁଅନ୍ତୁ | ଯଦି ଆମେ ପ୍ରସ୍ତୁତ କରିଥିବା ନେତାଙ୍କ ପ୍ରୋଫାଇଲରେ କିଛିବି ତଥ୍ୟଗତ ତ୍ରୁଟି
                        ଥାଏ, ନେତା ବା ତାଙ୍କ
                        ଶୁଭଚିନ୍ତକ ଆମକୁ ସଠିକ ତଥ୍ୟ ପଠାଇପାରିବେ | ଆମର ଏଠାରେ ସନ୍ନିବେଶିତ ତଥ୍ୟ ବିଭିନ୍ନ ମାଧ୍ୟମରୁ ଅଣାଯାଇଛି,
                        ଯେମିତିକି ସରକାରୀ, ବେସରକାରୀ
                        ୱେବସାଇଟ ଏବଂ ନେତାଙ୍କ ବିଷୟରେ ଜାଣିଥିବ ଲୋକମାନଙ୍କ ଠାରୁ | ଆମକୁ ଆମ e-mail ମାଧ୍ୟମରେ ଯୋଗାଯୋଗ କରିବା ପାଇଁ
                        e-mail ID
                        :- <a href="mailto:aamaneta2022@gmail.com">aamaneta2022@gmail.com </a> II Website
                        :- <a href="https://aamaneta.com" target="_blank">www.aamaneta.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>